@font-face {
  font-family: 'space_monobold';
  src: url('./fonts/spacemono-bold-webfont.woff2') format('woff2'),
       url('./fonts/spacemono-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'space_monobold_italic';
  src: url('./fonts/spacemono-bolditalic-webfont.woff2') format('woff2'),
       url('./fonts/spacemono-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'space_monoitalic';
  src: url('./fonts/spacemono-italic-webfont.woff2') format('woff2'),
       url('./fonts/spacemono-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'space_monoregular';
  src: url('./fonts/spacemono-regular-webfont.woff2') format('woff2'),
       url('./fonts/spacemono-regular-webfont.woff') format('woff');

  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  color: white;
  vertical-align: baseline;
  font-family: 'space_monoregular', system-ui, sans-serif;
}

body {
  display: flex;
  background-color: rgb(86, 72, 98);
}

.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex: auto;
}

header {
  display: flex;
  justify-content: center;
  flex: auto;
  flex-direction: column;
  flex-wrap: wrap;
  height: 33vh;
  padding: 20px;
}

header > h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.forms-container {
  display: flex;
  min-height: 33vh;
  padding: 1.2rem 2vw 3rem 2vw;
  background-color: rgba(41, 41, 41, 0.5);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
}

form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 45vw;
  gap: 1rem;
  font-size: 1rem;
}

label, input {
  display: flex;
  flex-direction: column;
}

input {
  color: #000;
}

.button-section {
  height: 33vh;
  padding: 20px;
}

button[type='submit'] {
  padding: 0.5rem 1.5rem;
  font-size: 1.3rem;
  border-radius: 10px;
  background-color: rgb(10, 25, 66);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
  margin: 20px 0px;
}

.background {
  height: 100vh;
  width: 40vw;
  min-width: 400px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-image: url("./images/background2.jpg");
}

.credit {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.5);
}

.logo {
  background-color: rgba(41, 41, 41, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding: 10px;
}

.logo > p {
  font-size: 50px;
  color: white;
  font-family: 'space_monoregular', system-ui, sans-serif;
  text-shadow: -1px 1px 0 #000;
  padding: 0;
  margin: 0;
}

img {
  height: 120px;
  padding-right: 10px;
}

@media screen and (max-width: 700px) {
  body {
    display: flex;
    flex-direction: column;
  }
  .background {
    width: 100vw;
    height: 40vh;
  }

  .logo {
    margin-top: 120px;
  }
}
