@font-face {
  font-family: 'space_monobold';
  src: url('./fonts/spacemono-bold-webfont.woff2') format('woff2'),
       url('./fonts/spacemono-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'space_monobold_italic';
  src: url('./fonts/spacemono-bolditalic-webfont.woff2') format('woff2'),
       url('./fonts/spacemono-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'space_monoitalic';
  src: url('./fonts/spacemono-italic-webfont.woff2') format('woff2'),
       url('./fonts/spacemono-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'space_monoregular';
  src: url('./fonts/spacemono-regular-webfont.woff2') format('woff2'),
       url('./fonts/spacemono-regular-webfont.woff') format('woff');

  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  color: white;
  vertical-align: baseline;
  font-family: 'space_monoregular', system-ui, sans-serif;
}

body {
  display: flex;
  background-color: rgb(86, 72, 98);
}

.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex: auto;
}

.background {
  height: 100vh;
  width: 80vw;
  min-width: 400px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-image: url("./images/background2.jpg");
}

.arrows {
  text-decoration: none;
  display: none;
}

.credit {
  position: absolute;
  bottom: 0px;
  right: 5px;
  gap: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.5);
}

.logo {
  background-color: rgba(41, 41, 41, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
  padding: 10px;
}

.logo > p {
  font-size: 50px;
  color: white;
  font-family: 'space_monobold', system-ui, sans-serif;
  text-shadow: -1px 1px 0 #000;
  padding: 0;
  margin: 0;
}

img {
  height: 120px;
  padding-right: 10px;
}

header {
  display: flex;
  justify-content: center;
  flex: auto;
  flex-direction: column;
  flex-wrap: wrap;
  height: 33vh;
  padding: 20px;
}

header > h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.forms-container {
  display: flex;
  min-height: 33vh;
  padding: 1.2rem 2vw 3rem 2vw;
  background-color: rgba(41, 41, 41, 0.5);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
}

form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 45vw;
  min-width: 500px;
  gap: 2rem;
  font-size: 1rem;
}

form.submitted input:invalid {
  border-color: red;
}

label, input {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  position: relative;
}


input[type=text],
input[type=email],
input[type=tel],
input[type=password] {
  padding: 4px;
  color: #000;
  border: 3px solid rgb(10, 25, 66);
  border-radius: 5px;
}

input:focus {
  outline: none;
  border: 3px solid rgb(22, 129, 251);
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}


.error {
  font-size: 0.75rem;
  color: rgb(255, 64, 64);
  text-shadow: 1px 1px 1px #000;
  position: absolute;
  top: 65px;
}

.button-section {
  height: 33vh;
  padding: 20px;
  font-size: 1.1rem;
}

button[type='submit'] {
  padding: 0.5rem 1.5rem;
  font-size: 1.3rem;
  border-radius: 10px;
  background-color: rgb(10, 25, 66);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
  margin-top: 20px;
}

button[type='submit']:hover {
  cursor: pointer;
  background-color: rgb(205, 79, 67);
}

button[type='submit']:active {
  transform: translateY(2px);
}


.button-section > p > a {
  text-decoration: none;
  font-family: 'space_monobold';
  color: rgb(10, 25, 66);
}

.button-section > p > a:hover {
  color: rgb(205, 79, 67);
}

@media screen and (max-width: 850px) {
  body {
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  .background {
    height: 40vh;
    min-width: 100vw;
  }

  .logo {
    margin-top: 120px;
  }

  header,
  .forms-container,
  .button-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .button-section {
    padding-top: 0;
  }

  form {
    min-width: 100vw;
    max-width: 100vw;
    row-gap: 3rem;
    justify-content: center;
    align-items: center;
  }

  input {
    width: 160px;
  }
}

@media screen and (max-width: 400px) {

  .arrows {
    display: flex;
    width: 60px;
    height: 100px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 120px;
  }
  
  .arrows path {
    stroke: rgb(255, 255, 255);
    fill: transparent;
    stroke-width: 5px;  
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite; 
  }
  
  @keyframes arrow
  {
    0% {opacity:0}
    40% {opacity:1}
    80% {opacity:0}
    100% {opacity:0}
  }
  
  @-webkit-keyframes arrow {
    0% {opacity:0}
    40% {opacity:1}
    80% {opacity:0}
    100% {opacity:0}
  }
  
  .arrows path.a1 {
    animation-delay:-1s;
    -webkit-animation-delay:-1s; 
  }
  
  .arrows path.a2 {
    animation-delay:-0.5s;
    -webkit-animation-delay:-0.5s; 
  }
  
  .arrows path.a3 { 
    animation-delay:0s;
    -webkit-animation-delay:0s;
  }

  .background {
    height: 100vh;
  }

  .forms-container {
    height: 55vh;
  }
}